@import "tailwindcss";

@font-face {
    font-family: "Nodesto";
    src: url("/fonts/Nodesto Caps Condensed.otf") format("opentype");
    font-weight: normal;
    font-display: swap;
}

body {
  @apply bg-amber-100;
}

.dnd-font {
    font-family: "Nodesto";
}

.color-text {
    @apply text-rose-800;
}

.title {
    @apply text-5xl;
}

.clickable {
    @apply text-rose-800 hover:text-amber-600;
}
