@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

/* Remove spinner from number inputs in Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spinner from number inputs in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* HTML element takes full width - fixes issue with element shifting based on page length cause of scrollbar*/
html {
    width: 100vw;
}
